* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:Arial; */
  /* font-size: 15px; */
}

.dsa {
  display: flex;
  gap: 10px;
}

.dsaProfile {
  width: 100px;
  height: 100px;
}

.container {
  width: 100%;
  /* font-family: arial; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* .container:hover {
  cursor: pointer;
} */

.title {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 45px;
  padding-left: 20px;
  color: black;
  border: 1px solid rgb(122, 116, 116);
  border-radius: 20px;
}

.myImg {
  border-radius: 10%;
  /* width: 70rem; */
  width: 50rem;
}

.lastmyImg {
  border-radius: 10%;
  /* width: 30rem; */
  width: 250px;
  height: auto;
  box-sizing: border-box;
}

.content {
  padding: 10px;
  display: none;
}

.item.active .content {
  display: block;

}

.aboutMe {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.titleHead {
  font-weight: bold;
}


.problemList {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

.problemList::before {
  content: '';
  width: 0.5rem;
  position: absolute;
  top: 0;
  left: 8%;
  background: peachpuff;
  z-index: -1;
}

.prbmName {
  padding: 0.5rem 1.5rem 1rem;
  border-radius: 1rem;
  background: peachpuff;
}

.prbmName:hover{
  cursor: pointer;
}

.problemList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.prbmName a {
  color: black;
}

/* ----------------------------------------status bar css  ----------------------------------*/
@keyframes progress {
  0% {
    --percentage: 0;
  }

  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 100px;
  top: -40px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  -webkit-animation: progress 2s 0.5s forwards;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 70%;
  height: 70%;
  border-radius: 40px;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

[role="easyprogressbar"] {
  --percentage: var(--value);
  --primary: green;
  --secondary: #c2fbd7;
  --size: 100px;
  top: -40px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  -webkit-animation: progress 2s 0.5s forwards;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

[role="easyprogressbar"]::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 70%;
  height: 70%;
  border-radius: 40px;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

[role="easyprogressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

/* ---------------------------- bar 2  ----------------------------- */

[role="progressbar1"] {
  --percentage: var(--value);
  --primary: #ff070798;
  --secondary: #adf;
  --size: 100px;
  top: -40px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  -webkit-animation: progress 2s 0.5s forwards;
}

[role="progressbar1"]::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 70%;
  height: 70%;
  border-radius: 40px;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

[role="progressbar1"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}


[role="mediumprogressbar"] {
  --percentage: var(--value);
  --primary: orange;
  --secondary: rgba(255, 166, 0, 0.425);
  --size: 100px;
  top: -40px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  -webkit-animation: progress 2s 0.5s forwards;
}

[role="mediumprogressbar"]::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 70%;
  height: 70%;
  border-radius: 40px;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

[role="mediumprogressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

[role="hardprogressbar"] {
  --percentage: var(--value);
  --primary: orangered;
  --secondary: rgba(255, 68, 0, 0.37);
  --size: 100px;
  top: -40px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  -webkit-animation: progress 2s 0.5s forwards;
}

[role="hardprogressbar"]::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 70%;
  height: 70%;
  border-radius: 40px;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

[role="hardprogressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

/* --------------------------------------------------------------- */

.statusBar {
  display: flex;
}

.QuestionBar {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 100px;

}

.QuestionStatus {
  color: #ff070798;
}

.eastQst {
  color: green;
}

.InterviewImp {
  color: rgba(0, 128, 0, 0.747);
}

.MediumQST {
  color: orange;
}

.HardQST {
  color: orangered;
}

/* --------------------------------------------------------------------- */

.dsaHeading {
  gap: 50px;
}


/* ------------------------------------------------------ completion baar Mai File -------------------------  */

.statusBarHai {
  display: flex;
  width: 80px;
  margin-top: -60px;
  margin-left: 34rem;
}

.circular-progress {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value {
  position: relative;
  font-size: 20px;
  font-weight: 1000;
  color: #ff070798;

}

.RecursionMainDiv {
  margin-top: -30px;
}

.DPmainDiv {
  margin-top: 30px;

}

.btandbstMainDiv {
  margin-top: -30px;
}

.stackQueuueMainDiv {
  margin-top: -30px;
}

.binarySearchMainDiv {
  margin-top: -30px;
}

.graphMainDiv {
  margin-top: -30px;
}

.linkedlistMainDiv {
  margin-top: -30px;
}

.greadyMainDiv {
  margin-top: -30px;
}

.triesMainDiv {
  margin-top: -30px;
}

.swMai {
  margin-top: -30px;
}

.bitManuMainDiv {
  margin-top: -30px;
}

.heapsMainDiv {
  margin-top: -30px;
}

/* -------------------------------------------------------------------------------- */

center {
  font-size: 18px;
  font-weight: 1000;
}

/* ---------------------------------------------------------------------------------- */

.mainBar {
  position: relative;
  top: 10px;
  min-height: 20px;
  max-height: 50px;
  min-width: 150px;
  max-width: 150px;
  opacity:0.8;
  /* background: #000; */
}

.nameTag {
  position: relative;
  top: 8px;
  width: 35rem;
}

.nameTag h4{
  font-size: 25px;
}

/* ------------------------------------------------------------------- */

.bannerVideo {
  display: flex;
  gap: 10px;
}

.DSAbannerVideo {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

#myVideo {
  border-radius: 2%;
  width: 500rem;
}



/* ----------------------------------------------------------- */

.secHeader1 {
  background: rgba(238, 174, 202, 0.664);
  /* background: linear-gradient(90deg, rgba(238, 174, 202, 1) 7%, rgba(220, 177, 208, 1) 48%, rgba(148, 187, 233, 1) 100%); */
  height: 50px;
  border-radius: 100px;
}

.secHeader2 {
  background: rgba(248, 14, 14, 0.171);
  /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
  height: 50px; 
  border-radius: 100px;
}

.secHeader3 {
  background: rgba(255, 166, 0, 0.356);
  /* background: radial-gradient(circle, rgba(244,196,49,0.5578431201582195) 14%, rgba(237,248,255,0.7203081061526173) 36%, rgba(244,196,49,0.4878151089537377) 80%);  */
  height: 50px;
  border-radius: 100px;
}

.secHeader4 {
  background: #c2fbb5a2;
  /* background: radial-gradient(circle, rgba(244,196,49,0.5578431201582195) 14%, rgba(237,248,255,0.7203081061526173) 36%, rgba(244,196,49,0.4878151089537377) 80%);  */
  height: 50px;
  border-radius: 100px;
 
}

/* .secHeader4{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(230,159,66,1) 0%, rgba(114,171,237,1) 100%);
  height: 50px;
  border-radius: 100px;
} */



.tagSec {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.tagSec p {
  font-size: 20px;
  font-weight: bold;
  color: rgba(51, 48, 48, 0.692);
}

.DSAtagSec p {
  font-size: 20px;
  font-weight: bold;
  color: rgba(51, 48, 48, 0.692);
}

.AchivementDSAtagSec p {
  font-size: 20px;
  font-weight: bold;
  color: rgba(51, 48, 48, 0.692);
}


/* --------------------------------------------------------------------------------------------- */
#AdvancedTitle {
  background: linear-gradient(100deg, rgba(25, 241, 104, 0.4) 0%, rgba(191, 142, 115, 0.4) 79%);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

#AdvancedTitle:hover{
  cursor: pointer;
}

#SecondAdvancedTitle {
  border: none;
  background: linear-gradient(90deg, rgba(0, 212, 255, 0.4514005431274072) 0%, rgba(115, 115, 191, 0.4654061453683036) 56%);
  font-family: Arial, Helvetica, sans-serif;
}

#SecondAdvancedTitle:hover{
  cursor: pointer;
}

#ThirdAdvancedTitle {
  border: none;
  background: linear-gradient(90deg, rgba(223, 238, 255, 1) 0%, rgba(216, 233, 253, 1) 10%, rgba(148, 186, 231, 1) 61%);
  font-family: Arial, Helvetica, sans-serif;
}

#ThirdAdvancedTitle:hover{
  cursor: pointer;
}

#AchivementTitle {
  justify-content: center;
  justify-items: center;
  background: rgb(231,249,51);
  background: radial-gradient(circle, rgba(232, 249, 51, 0.432) 13%, rgba(125, 244, 208, 0.719) 48%, rgba(236,236,236,0.809943960494354) 100%); 
  height: 3rem;
  border:none;
  border-radius: 50px;
}


.bannerImg {
  margin-bottom: 20px;
  margin-top: 10px;
}

.bannerImg img {
  border-radius: 10px;
}


/* CSS of the Question Tag Buttons */

.allBTNGroups {
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  bottom: 40px;
}

.easyQst {
  background-color: #c2fbd7;
  border-radius: 100px;
  /*box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
*/
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.maineasyQst {
  background-color: #c2fbd7;
  border-radius: 100px;
  /*box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
*/
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mediumQst {
  background-color: rgba(255, 166, 0, 0.425);
  border-radius: 100px;
  /* box-shadow: rgba(241, 181, 69, 0.247) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: orange;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8rem;
}


.mainmediumQst {
  background-color: rgba(255, 166, 0, 0.425);
  border-radius: 100px;
  /* box-shadow: rgba(241, 181, 69, 0.247) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: orange;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hardQst {
  background-color: rgba(255, 68, 0, 0.37);
  border-radius: 100px;
  /* box-shadow: rgba(241, 181, 69, 0.247) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: orangered;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.mainhardQst {
  background-color: rgba(255, 68, 0, 0.37);
  border-radius: 100px;
  /* box-shadow: rgba(241, 181, 69, 0.247) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: orangered;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.leetcodelink {
  background-color: lightblue;
  border-radius: 100px;
  /* box-shadow: rgba(241, 181, 69, 0.247) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: rgb(21, 175, 226);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.leetcodelink:hover {
  /* box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px; */
  transform: scale(1.05) rotate(-1deg);
}

.imgQstDiv {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;

}


.imgQstDiv img {
  height: 30px;
  width: 30px;
}

.gfgQstlink {
  background-color: rgba(38, 185, 38, 0.678);
  border-radius: 100px;
  /* box-shadow: rgba(241, 181, 69, 0.247) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.gfgQstlink:hover {
  /* box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px; */
  transform: scale(1.05) rotate(-1deg);
}

.codslink {
  background-color: rgba(255, 166, 0, 0.534);
  border-radius: 100px;
  /* box-shadow: rgba(241, 181, 69, 0.247) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: rgba(0, 0, 0, 0.767);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.codslink:hover {
  /* box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px; */
  transform: scale(1.05) rotate(-1deg);
}

.companyLogo {

  display: flex;
  justify-content: center;
  margin-top: -50px;
  gap: 10px;

}

.companyLogo1 {
  height: 30px;
  width: auto;

}

.companyLogo2 {
  height: 35px;
  width: auto;

}

.companyLogo3 {
  margin-top: -9px;
  height: 40px;
  width: auto;

}

.companyLogo4 {
  margin-top: -2px;
  height: 30px;
  width: auto;

}

.companyLogo5 {
  margin-top: -7px;
  height: 45px;
  width: auto;

}

.intro {
  margin-top: -20px;
  text-align: justify;
}

/* .abutDiss {
  text-align: justify;
  width: 50rem;
} */
.abutDiss{
  /* background-color: red; */
  height: 17rem;
  width: 120rem;
  overflow: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.abutDiss li {
  list-style: none;
}

.abutDiss li::before {
  content: '•';
  margin-right: 8px;
}

.abutDissFooter {
  text-align: justify;
  width: 40rem;
}

.footerAch1 {
  margin-top: -20px;
}

.footerAch2 {
  margin-top: 5px;
}

.footerAch3 {
  margin-top: 5px;
}

.footerAch4 {
  margin-top: 5px;
}

.intro li {
  list-style: none;
  padding: 0;
}

.intro li::before {
  content: '💥';
  margin-right: 8px;
}

.footerPoss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.psStatement {
  margin-top: -30px;
}

.whyDSA {
  margin-top: -20px;
}

.aboutBannerDiss {
  text-align: justify;
}

.totalProblemMainBox {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background: rgb(221, 254, 250);
  background: linear-gradient(90deg, rgba(170, 229, 223, 0.51) 0%, rgba(255, 255, 255, 0.8939775739397321) 55%);
  height: 70px;
  border-radius: 10px;
  margin-top: 15px;
}

.problemSplit {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.prPart1 {
  display: flex;
  width: 100px;
  background: #c2fbb56c;
  border-radius: 10px;
  flex-direction: column;
}

.prPart2 {
  width: 100px;
  background: rgba(255, 166, 0, 0.233);
  border-radius: 10px;
}

.prPart3 {
  width: 100px;
  background: rgba(248, 14, 14, 0.123);
  border-radius: 10px;
}

.pName1 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: rgba(0, 128, 0, 0.514);
  font-size: 1.2rem;
  font-weight: bold;
}

.pCount1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.596);
  margin-top: -5px;
}

.pName2 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: orange;
  font-size: 1.2rem;
  font-weight: bold;
}

.pCount2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.596);
  margin-top: -5px;
}

.pName3 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: rgba(255, 0, 0, 0.548);
  font-size: 1.2rem;
  font-weight: bold;
}

.pCount3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.596);
  margin-top: -5px;
}


.totalName {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.596);
  margin-left: 10px;
}

.totalCount {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.596);
  margin-left: 10px;
  margin-top: -5px;
}

#esColor {
  color: rgba(0, 128, 0, 0.514);
}

#meColor {
  color: orange;
}

#hrColor {
  color: rgba(255, 0, 0, 0.548);
}

.DPtotalProblemMainBox {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background: rgb(221, 254, 250);
  background: linear-gradient(90deg, rgba(170, 229, 223, 0.51) 0%, rgba(255, 255, 255, 0.8939775739397321) 55%);
  height: 70px;
  border-radius: 10px;
  margin-top: -40px;
}


/* codeEditor css part  */

.meraInterviewCodeEditior {
  display: flex;
  justify-content: center;
  justify-items: center;

}

.MainIndxmeraInterviewCodeEditior {
  display: flex;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  width: 50rem;
  /* overflow: hidden; */

}

.QuestionmeraInterviewCodeEditior {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.textEditorMainDiv {
  width: auto;
  background: rgba(245, 245, 245, 0.747);
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.toolbar {
  padding: 16px;
  background: #eee;
}

.toolbar .head {
  display: flex;
  grid-gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.toolbar .head>input {
  max-width: 100px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid #ddd;
  outline: none;
}

.toolbar .head select {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.toolbar .head .color {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 6px;
  padding: 0 10px;
}

.toolbar .head .color span {
  font-size: 14px;
}

.toolbar .head .color input {
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
  background: #fff;
  cursor: pointer;
}

.toolbar .head .color input::-moz-color-swatch {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
}

.toolbar .btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 10px;
}

.toolbar .btn-toolbar button {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.toolbar .btn-toolbar button:hover {
  background: #f3f3f3;
}

#content {
  padding: 16px;
  outline: none;
  max-height: 50vh;
  overflow: auto;
}

#show-code[data-active="true"] {
  background: #eee;
}

#filename {
  background-color: white;
}


/*  */

/* .StartingDiv{
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3), 5px 0 20px rgba(0, 0, 0, 0.3);
}

.head4Div{
  background-color: rgba(0, 0, 0, 0.089);
} */

.StartingDiv {
  /* display: flex; */
  width: 85%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


.CodeStartingDiv{
  /* display: flex; */
  width: 80%;
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
}

.moreAboutPart1{
  text-align: justify;
}

.introIMGwalaDiv{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.storyBehindDSAwithPrinceSingh{
  position: relative;
  display: inline-block;
}

.imageDess{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 10px;
  width: 85%;
  height: 80%;
  overflow: hidden;
}

.imageDess h4{
  font-size: 40px;
  font-weight: bold;
}

.collageImg img{
  border-radius: 10px;

}

/* .storyBehindDSAwithPrinceSingh:hover .imageDess{
  opacity: 1;
} */

.innerImgDiss{
  display: flex;
  flex-direction: column;
}

.headDivImg{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.innerImgDiss .div {
margin-left: 20px;
margin-right: 20px;
}

.hrBanner{
  margin-top: -10px;
}

.fontHeadSize{
  font-size: 18px;
  color: rgba(51, 48, 48, 0.692);
  font-family: Arial, Helvetica, sans-serif;
}





#AchivementTitle:hover{
  cursor: pointer;
}

.bigKrnaHai{
  font-family: Arial;
  font-size: 20px;
  font-weight: 800;
}

.content img{
  border-radius: 20px;
}

#improveDSASkills{
  justify-content: center;
  justify-items: center;
  background: rgb(125,195,244);
  background: radial-gradient(circle, rgba(125,195,244,0.7203081061526173) 33%, rgba(166,168,148,0.4878151089537377) 100%); 
  height: 50px;
  border: none;
  border-radius: 100px;
}

#improveDSASkills p{
  font-family: Arial;
  font-size: 20px;
  color: rgba(51, 48, 48, 0.692);
  font-weight:bold;
}

#improveDSASkills:hover{
  cursor: pointer;
}

.FooterClgTag{
  font-family: Arial;
}

@media (max-width:412) {
  .aboutMe {
    flex-direction: column;
  }

  .myImg {
    width: 40rem;
  }
}

@media (max-width:400px) {
  .myImg {
    width: 40rem;
  }

  .aboutMe {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    height: 16rem;
    overflow: hidden;
  }
}

body {
  --wp--preset--color--black: #494d50;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--color--nebula: #ff5233;
  --wp--preset--color--mars: #da3400;
  --wp--preset--color--orion: #ffe7e3;
  --wp--preset--color--cosmos: #012d4a;
  --wp--preset--color--galaxy: #002b7d;
  --wp--preset--color--nova: #0058ff;
  --wp--preset--color--comet: #8ab2ff;
  --wp--preset--color--zinc-600: #52525a;
  --wp--preset--color--zinc-500: #717179;
  --wp--preset--color--zinc-400: #a1a1a9;
  --wp--preset--color--zinc-300: #d4d4d8;
  --wp--preset--color--zinc-200: #e4e4e7;
  --wp--preset--color--zinc-100: #f4f4f5;
  --wp--preset--color--zinc-50: #fafafa;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,
      rgba(6, 147, 227, 1) 0%,
      rgb(155, 81, 224) 100%);
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,
      rgb(122, 220, 180) 0%,
      rgb(0, 208, 130) 100%);
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,
      rgba(252, 185, 0, 1) 0%,
      rgba(255, 105, 0, 1) 100%);
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,
      rgba(255, 105, 0, 1) 0%,
      rgb(207, 46, 46) 100%);
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,
      rgb(238, 238, 238) 0%,
      rgb(169, 184, 195) 100%);
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,
      rgb(74, 234, 220) 0%,
      rgb(151, 120, 209) 20%,
      rgb(207, 42, 186) 40%,
      rgb(238, 44, 130) 60%,
      rgb(251, 105, 98) 80%,
      rgb(254, 248, 76) 100%);
  --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,
      rgb(255, 206, 236) 0%,
      rgb(152, 150, 240) 100%);
  --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,
      rgb(254, 205, 165) 0%,
      rgb(254, 45, 45) 50%,
      rgb(107, 0, 62) 100%);
  --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,
      rgb(255, 203, 112) 0%,
      rgb(199, 81, 192) 50%,
      rgb(65, 88, 208) 100%);
  --wp--preset--gradient--pale-ocean: linear-gradient(135deg,
      rgb(255, 245, 203) 0%,
      rgb(182, 227, 212) 50%,
      rgb(51, 167, 181) 100%);
  --wp--preset--gradient--electric-grass: linear-gradient(135deg,
      rgb(202, 248, 128) 0%,
      rgb(113, 206, 126) 100%);
  --wp--preset--gradient--midnight: linear-gradient(135deg,
      rgb(2, 3, 129) 0%,
      rgb(40, 116, 252) 100%);
  --wp--preset--duotone--dark-grayscale: url("#wp-duotone-dark-grayscale");
  --wp--preset--duotone--grayscale: url("#wp-duotone-grayscale");
  --wp--preset--duotone--purple-yellow: url("#wp-duotone-purple-yellow");
  --wp--preset--duotone--blue-red: url("#wp-duotone-blue-red");
  --wp--preset--duotone--midnight: url("#wp-duotone-midnight");
  --wp--preset--duotone--magenta-yellow: url("#wp-duotone-magenta-yellow");
  --wp--preset--duotone--purple-green: url("#wp-duotone-purple-green");
  --wp--preset--duotone--blue-orange: url("#wp-duotone-blue-orange");
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--h-4: 18px;
  --wp--preset--font-size--h-6: 20px;
  --wp--preset--font-size--h-3: 28px;
  --wp--preset--font-size--h-2: 45px;
  --wp--preset--font-size--h-1: 60px;
}

.has-nebula-color {
  color: var(--wp--preset--color--nebula) !important;
}